name: Testing

on: [push]

jobs:
  run-tests:
    runs-on: ${{ matrix.operating-system }} 
    strategy:
      matrix:
        include:
          - operating-system: ubuntu-latest
            python-version: '3.10'
          
          - operating-system: windows-latest
            python-version: '3.10'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Unit Tests
      run: |
        python -m unittest discover -p '*_test.py'
        

        
